* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  color: #fff;
  font-family: "Pattaya", sans-serif;
}

:root {
  --pomodoro: radial-gradient(
    ellipse farthest-corner at center center,
    #e07777 0%,
    #924eff 80%
  );
  --shortBreak: radial-gradient(
    ellipse farthest-corner at center center,
    #b2e077 0%,
    #4e9fff 80%
  );
  --longBreak: radial-gradient(
    ellipse farthest-corner at center center,
    #dee077 0%,
    #ff784e 80%
  );
}
main {
  background: radial-gradient(
    ellipse farthest-corner at center center,
    #e07777 0%,
    #924eff 80%
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  height: 60rem;
  width: 60rem;
  box-shadow: 0 0 8rem -2.5rem rgba(146, 78, 255, 0.95);
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .mode-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    .button {
      text-decoration: none;
      border: none;
      background: inherit;
      font-family: "Pattaya", sans-serif;
      color: #fff;
      font-size: 2rem;

      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
  .clock {
    text-decoration: none;

    span {
      font-size: 15rem;
    }
  }
  .main-button {
    text-decoration: none;

    .button {
      text-decoration: none;
      border: none;
      background: inherit;
      font-family: "Pattaya", sans-serif;
      color: #fff;
      font-size: 3rem;

      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}
