* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  color: #fff;
  // font-family: "Pattaya", sans-serif;
  font-family: "Space Mono", monospace;
}

main {
  background: radial-gradient(
    ellipse farthest-corner at center center,
    #e07777 0%,
    #924eff 80%
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  height: 60rem;
  width: 60rem;
  // box-shadow: 0 0 8rem -2.5rem rgba(146, 78, 255, 0.95);
  box-shadow: 0px 0px 3.8rem 0.6rem rgba(146, 78, 255, 0.75);
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  position: relative;

  .mode-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;

    .button {
      text-decoration: none;
      border: none;
      background: inherit;
      font-family: "Space Mono", monospace;
      color: #fff;
      font-size: 3rem;

      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
  .clock {
    text-decoration: none;
    font-size: 15rem;
    width: 90%;
    text-align: center;
  }
  .main-button {
    text-decoration: none;

    .button {
      text-decoration: none;
      border: none;
      background: inherit;
      font-family: "Space Mono", monospace;
      color: #fff;
      font-size: 5rem;

      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }

  img {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    height: 4.5rem;
    width: 4.5rem;
  }
}
